# =========================
# Python
# =========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

venv/
.venv/


# =========================
# Environment
# =========================

.env
.env.*


# =========================
# Database
# =========================

*.sqlite3
*.db


# =========================
# Upload files
# =========================

backend/uploads/*
!backend/uploads/.gitkeep


# =========================
# AI model files
# =========================

backend/models/


# =========================
# Frontend
# =========================

frontend/node_modules/
frontend/dist/


# =========================
# IDE
# =========================

.vscode/
.idea/


# =========================
# OS
# =========================

.DS_Store
Thumbs.db


# =========================
# Logs
# =========================

*.log